@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@500&display=swap");

:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  appearance: none;
}
html {
  font-size: 14px;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: poppins, sans-serif;
  user-select: none;
  font-size: 0.88rem;
  background: var(--color-background);
  overflow-x: hidden;
}

a {
  color: var(--color-dark);
}
img {
  display: block;
  width: 100%;
}
h1 {
  font-size: 1.8rem;
  font-weight: 800;
}
h2 {
  font-size: 1.1rem;
}
h3 {
  font-size: 0.87rem;
}
h4 {
  font-size: 0.8rem;
}
h5 {
  font-size: 77rem;
}
small {
  font-size: 0.75rem;
}
.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}
.text-muted {
  color: var(--color-info-dark);
}
p {
  color: var(--color-dark-variant);
}
b {
  color: var(--color-dark);
}
.primary {
  color: var(--color-primary);
}
.danger {
  color: var(--color-danger);
}
.success {
  color: var(--color-success);
}
.warning {
  color: var(--color-warning);
}
.containerMain{
  display: grid;
  grid-template-columns: 14rem auto 23rem;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
}

aside {
  height: 100vh;
}
.name {
  font-size: 1.4rem;
}
aside .top {
  display: flex;
  /* background: var(--color-white); */
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 0 0.5rem 0 1rem;
}
aside .top .close{
display: none;   
}

aside .sideBar {
  /* background: var(--color-white); */
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 2rem;
}
aside h3 {
  font-weight: 500;
  font-size: 0.9rem;
}
aside .sideBar a {
margin-left: 2rem;
    display: flex;
  gap: 1rem;
  color: var(--color-info-dark);
  align-items: center;
  position: relative;
  height: 3.5rem;
  /* transition: all 300ms ease; */
}
aside .sideBar span {
  font-size: 1.6rem;
  transition: all 300ms ease;

}
aside .sideBar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}
aside .sideBar a .messageCount {
  font-size: 0.9rem;
  position: absolute;
  right: 10px;
  background: var(--color-danger);
  padding: 0.1px 8px;
  border-radius: 6px;
  color: var(--color-white);
}
aside .sideBar a.active {
  color: var(--color-primary);
  background: var(--color-light);
  margin-left: 0;
}
aside .sideBar a.active span{
    margin-left: calc(1rem - 6px);
}

 aside .sideBar a.active:before{
    content: "";
    height: 100%;
    width: 6px;
    background: var(--color-primary);
} 
aside .sideBar a:hover span{
    margin-left: 1rem;
}


.mainTop h1{
  margin-top:0.7rem ;
  color: var(--color-dark);
  padding-bottom:.6rem ;
}
.mainTop .date {
  display: inline-block;
  background: var(--color-light);
  padding:.2rem 0;
  border-radius: var(--border-radius-1);

}
.mainTop .date input[type="date"] {
  color: var(--color-dark);
  background: transparent;
  padding-left: 2rem;
  font-size: 1.1rem;

}

.salesCards{
display: grid;
grid-template-columns:repeat( 4,1fr);
gap: 1.3rem;
}
.salesCards .salesCard{
 
  background-color:var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  position: relative;

}
.salesCards .salesCard:hover{
  box-shadow: none;
}
.salesCards .salesCard .cardLeft span{
  background: var(--color-primary);
  color:var(--color-white);
  font-size:2rem;
  padding: 10px;
  border-radius:50%;
  margin-bottom: 1rem;

}
.salesCards .salesCard .cardLeft .expenses{
  background: var(--color-danger);
  color:var(--color-white);
}

.salesCards .salesCard .cardLeft .income{
  background: var(--color-success);
  color:var(--color-white);
}
.salesCards .salesCard .cardLeft h2{
  color: var(--color-dark);
}
.salesCards .salesCard .cardLeft h1{
  margin-top: .7rem;
  color: var(--color-dark);

}
.salesCards .salesCard .cardLeft p{
  position: absolute;
  bottom: 15px;
}
.salesCard .card{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.card .cardRight{
  position: relative;
  right: -15px;
}
.card .cardRight .number{
  position: absolute;
  top:-5px;
  left:-3px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}


.cardRight svg{
  width: 7rem;
  height: 7rem;
}
.cardRight svg circle{
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px,5px);
  stroke-dasharray: 230;
  stroke-dashoffset: -40;
}
.cardRight svg .expenses{
  stroke-dasharray: 80;
  stroke-dashoffset: 18;
}
.cardRight svg .income{
  stroke-dasharray: 115;
  stroke-dashoffset: 35;
}
.bottom h1{
  margin:1rem 0 0.2rem 0;
  color: var(--color-dark);
}

.bottom table{
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  padding: 1.3rem 2rem;
  width: calc(100% - 1.3rem);
  transition: all 300ms ease;
  text-align: center;
}
.bottom table:hover{
  box-shadow: none
}
.bottom table tbody td{
  height: 2.7rem;
  border-bottom: 1px solid var(--color-light);
  font-size: 1rem;
}
.bottom table tbody tr:last-child td{
  border-bottom: none;
}
.bottom table tbody tr td:last-child:hover{
  cursor: pointer;
  text-decoration: underline;
}
.bottom table thead tr th{
  font-size: 1.1rem;
  color: var(--color-dark);
  
}
.bottom a{
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--color-primary);
  font-weight: 500;
  font-size: 1rem;
}

